<%- include('partials/header') %>
    <img class="background-matcha" src="/content/images/backgrounds/dinner.jpg"/>
    <div class="login-container"> 
        <div class='logo-wrapper'>
            <img src="content/images/matcha-logo.png" />
        </div>
        <div class="form-container">
        <h2></h2>
        <% if(locals.error) { %>
            <div class="alert alert-danger"><%= locals.error %></div>
        <% } %>
        <% if(locals.success) { %>
            <div class="alert alert-success"><%= success %></div>
        <% } %>
        <form method="post">
            <div class="form-group">
                <label for="login">Ton pseudo</label>
                <input type="text" name="login" id="login" value="<%= locals.login || '' %>" class="form-control" />
            </div>
            <div class="form-group">
                <label for="password">Ton mot de passe</label>
                <input type="password" name="password" id="password" class="form-control" />
            </div>
            <div class="form-group">
                <button type="submit" class="auth-btn btn btn-primary">Se connecter</button>
                <a href="/register" class="register-link btn btn-link">Pas encore inscris ?</a>
                <a href="/recovery/recovery_step1" class="recovery-link btn btn-link">mot de passe oublié ?</a>
            </div>
        </form>
    </div>
</div>
<%- include('partials/footer') %>